# Ignore the virtual environment
.venv/
venv/

# Ignore dependency cache files
pip-log.txt
pip-delete-this-directory.txt

# Ignore environment variables ( security risk )
.env

# Ignore compiled Python Files
__pycache__/
*.pyc
*.pyo
*.pyd
